@import "vars";

[data-bg-color='1'] {
	background-color: $black;
}
[data-bg-color='2'] {
	background-color: $white;
}
[data-bg-color='3'] {
	background-color: $red;
}
[data-bg-color='4'] {
	background-color: $cyan;
}
[data-bg-color='5'] {
	background-color: $magenta;
}
[data-bg-color='6'] {
	background-color: $green;
}
[data-bg-color='7'] {
	background-color: $blue;
}
[data-bg-color='8'] {
	background-color: $yellow;
}
[data-bg-color='9'] {
	background-color: $light_brown;
}
[data-bg-color='10'] {
	background-color: $brown;
}
[data-bg-color='11'] {
	background-color: $light_red;
}
[data-bg-color='12'] {
	background-color: $dark_gray;
}
[data-bg-color='13'] {
	background-color: $gray;
}
[data-bg-color='14'] {
	background-color: $light_green;
}
[data-bg-color='15'] {
	background-color: $light_blue;
}
[data-bg-color='16'] {
	background-color: $light_gray;
}
[data-fg-color='1'] {
	color: $black;
}
[data-fg-color='2'] {
	color: $white;
}
[data-fg-color='3'] {
	color: $red;
}
[data-fg-color='4'] {
	color: $cyan;
}
[data-fg-color='5'] {
	color: $magenta;
}
[data-fg-color='6'] {
	color: $green;
}
[data-fg-color='7'] {
	color: $blue;
}
[data-fg-color='8'] {
	color: $yellow;
}
[data-fg-color='9'] {
	color: $light_brown;
}
[data-fg-color='10'] {
	color: $brown;
}
[data-fg-color='11'] {
	color: $light_red;
}
[data-fg-color='12'] {
	color: $dark_gray;
}
[data-fg-color='13'] {
	color: $gray;
}
[data-fg-color='14'] {
	color: $light_green;
}
[data-fg-color='15'] {
	color: $light_blue;
}
[data-fg-color='16'] {
	color: $light_gray;
}
