@import "vars";
@import "colors";

@font-face {
	font-family: 'PETSCII';
	src: url('../fonts/C64_Pro-STYLE.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/C64_Pro-STYLE.woff') format('woff'), /* Pretty Modern Browsers */
	url('../fonts/C64_Pro-STYLE.ttf') format('truetype'); /* Safari, Android, iOS */
}

root, html {
	font-family: 'PETSCII', monospace;
	font-size: $char_h;
	background: $light_blue;
	color: $blue;
}

main {
	display: flex;
	flex-direction: column;
	padding: 40px;
}

a {
	text-decoration: none;
	color: initial;
}


.char {
	display: inline-block;
	width: $char_w;
	height: $char_h;
	overflow: hidden;
	cursor: grab;

	&:hover, &:active {
		filter: invert(100%);
	}
}

.swatch {
	cursor: grab;
}

.screen {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: $screen_width;
	height: $screen_height;
	background: $blue;
	color: $light_blue;
	cursor: crosshair;
}

.tools {
	display: flex;
}

.color-picker {
	display: flex;
	width: $char_w * 22;
	height: $char_h * 6;

	.selected-color {
		width: $char_w * 5;
		height: $char_h * 4;
		padding: $char_h $char_w $char_h 0;

		.swatch {
			width: $char_w * 4;
			height: 100%;
			font-size: $char_h * 4;
		}
	}

	.color-palette {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		padding: $char_h $char_w $char_h 0;

		.swatch {
			display: inline-block;
			width: $char_w * 2;
			height: $char_h * 2;
		}
	}
}

.palettes {
	width: $screen_width - $char_w * 22;

	.tabs {
		display: flex;

		.tab {
			padding: $char_h / 2 $char_w / 2;
		}
	}

	.palette {
		display: none;
		flex-wrap: wrap;
		align-content: flex-start;

		&.selected {
			display: flex;
		}
	}
}